/* ===== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* ===== HERO SECTION ===== */
.hero-section {
  background: linear-gradient(
    142deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(110, 11, 156, 1) 61%,
    rgba(156, 151, 151, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: #fff;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
}

/* ===== TEXT ===== */
.hero-text {
  flex: 1 1 400px;
  padding:20px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
} */
 /* Typing heading*/
.hero-typing {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

/* blinking cursor */
.cursor {
  margin-left: 4px;
  animation: blink .5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .hero-typing {
    font-size: 2.2rem;
    text-align: center;
  }
}
/* ================================== */

.hero-text p {
  font-size: 1.15rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

/* ===== BUTTON ===== */
.hero-btn {
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: rgb(42, 10, 98);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0px 10px 10px rgb(210, 187, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px rgb(124, 54, 255) inset;
}

.hero-btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% { transform: scale3d(1, 1, 1); }
  30% { transform: scale3d(1.25, 0.75, 1); }
  40% { transform: scale3d(0.75, 1.25, 1); }
  50% { transform: scale3d(1.15, 0.85, 1); }
  65% { transform: scale3d(0.95, 1.05, 1); }
  75% { transform: scale3d(1.05, 0.95, 1); }
  100% { transform: scale3d(1, 1, 1); }
}

/* ===== IMAGE ===== */
.hero-image {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
}

.hero-image img {
  max-width: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.hero-image img:hover {
  transform: scale(1.02);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 10px 0px 10px;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-image {
    /* padding-top: 1rem; */
    padding-left: 0;
  }
}
