.download-section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

.download-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

/* Card */
.download-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  border-radius: 18px;
  overflow: hidden;
  padding: 40px;
  gap: 30px;
}

/* Left content */
.download-content {
  flex: 1;
  color: #ffffff;
}

.download-content h3 {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 14px;
}

.download-content p {
  font-size: 15px;
  opacity: 0.9;
  margin-bottom: 24px;
}

/* QR box */
.qr-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff41;
  padding: 12px;
  border-radius: 12px;
  width: 120px;
}


/* .qr-box img {
  width: 90px;
  height: 90px;
  object-fit: contain;
} */


/* Right image */
.download-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding:10px;
  margin:10px;
}

.download-image img {
  max-width: 260px;
  width: 100%;
  border-radius: 14px;
}
.download-image span {
  margin-top: 8px;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
}

/* Tablet */
@media (max-width: 900px) {
  .download-card {
    flex-direction: column;
    text-align: center;
  }

  .download-image {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .download-content h3 {
    font-size: 22px;
  }

  .download-card {
    padding: 24px;
  }
}
