.expert-section {
  padding: 80px 20px;
  background-size: cover;
  background-position: center;
}

.expert-overlay {
 background: linear-gradient(135deg, #00093f, #57066d);
  border-radius: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

.expert-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Left */
.expert-left {
  flex: 1;
  color: #fff;
}

.expert-left h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle3 {
  font-size: 15px;
  margin-bottom: 20px;
  opacity: 0.9;
  color: white;
}

.expert-list {
  list-style: none;
  padding: 0;
}

.expert-list li {
  margin-bottom: 12px;
  padding-left: 22px;
  position: relative;
}

.expert-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #4da3ff;
  font-weight: bold;
}

/* Form */
.expert-form {
  flex: 1;
  background: #ffffff11;
  border-radius: 14px;
  padding: 30px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  flex: 1;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  color: white;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 14px;
}

.form-group textarea {
  height: 90px;
  resize: none;
}

.submit-btn {
  width: 100%;
  background: #1e63f0;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #4c0296fa;
}

/* Responsive */
@media (max-width: 900px) {
  .expert-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .expert-overlay {
    padding: 30px 20px;
  }

  .expert-left h2 {
    font-size: 24px;
  }

  .form-row {
    flex-direction: column;
  }
}
