.terms-container {
  max-width: 1000px;
  margin: auto;
  padding: 110px 20px;
  font-family: Arial, sans-serif;
  color: #222;
  line-height: 1.7;
}

.terms-header {
  text-align: center;
  margin-bottom: 40px;
}

.terms-header h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.terms-header p {
  color: gray;
}

.terms-content section {
  margin-bottom: 30px;
}

.terms-content h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #111;
}

.terms-content p {
  font-size: 16px;
}

.terms-content ul {
  padding-left: 20px;
}

.terms-content li {
  margin-bottom: 8px;
}

/* Responsive */

@media (max-width: 768px) {
  .terms-header h1 {
    font-size: 28px;
  }

  .terms-content h2 {
    font-size: 20px;
  }
}
